.a{
    width: 500px;
    height: 100px;
    border: 5px solid;
    border-color: #85C226 #F7C200 #4493A0 #df127b;
    margin: 0px auto;
    padding: 3px; 
}
.b{
    width: 500px;
    height: 100px;
    border: 5px solid;
    border-color: #85C226 #F7C200 #4493A0 #df127b;
    border-style: solid dotted groove double;
    margin: 0px auto;
    padding: 3px; 
}
.c{
    width: 500px;
    height: 100px;
    border: 5px solid;
    border-color: #85C226 #F7C200 #4493A0 #df127b;
    border-width: 5px 10px 15px 20px;
    margin: 0px auto;
    padding: 3px; 
}
.d{
    width: 500px;
    height: 100px;
    border: 5px solid;
    border-color: #85C226 #F7C200 #4493A0 #df127b;
    border-radius: 0px 30px 70px 20px;  
    margin: 0px auto;  
    padding: 3px; 
}
.e{
    width: 500px;
    height: 100px;
    border-width: 4px 30px 4px 30px;
    border-style: groove ridge dashed groove;
    border-color: #cc0000;
    border-radius: 100px 100px 0px 0px;
    -moz-border-radius: 100px 100px 0px 0px;
    -webkit-border-radius: 100px 100px 0px 0px;
    margin: auto;
    padding: 3px;
}
.f{
    width: 500px;
    height: 100px;
    border: 5px solid;
    border-color: #85C226 #F7C200 #4493A0 #df127b;
    border-radius: 20px;  
    margin: 0px auto;  
    padding: 3px; 
}
.g{
    width: 500px;
    height: 100px;
    border: 5px solid;
    border-width: 0px 12px 0px 12px;
    border-style: double;
    border-color: violet;
    border-radius: 40px 40px 60px 60px;  
    margin: 0px auto;  
    padding: 3px; 
}
.h{
    width: 500px;
    height: 100px;
    border: 5px solid;
    border-color: #85C226 #F7C200 #4493A0 #df127b;
    border-radius: 20px 100px 100px 20px;  
    margin: 0px auto;  
    padding: 3px; 
}
.i{
    width: 500px;
    height: 100px;
    border: 5px solid;
    border-color: #85C226 #F7C200 #4493A0 #df127b;
    border-radius: 0px 150px 0px 150px;  
    margin: 0px auto;  
    padding: 3px; 
}
button{
    width: 200px;
    padding: 10px;
    background-color: aqua;
    
    color: #ffffff;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    font-size: 125%;
}