*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}
.all{
    width: 980px;
    height: 800px;
    border: 3px solid black;
    background-color: rgb(200, 200, 253);
}
header{
    width: 100%;
    height: 100px;
    border-bottom: 3px solid black;
    float: left;
}
nav{
    width: 200px;
    height: 500px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    float: left;
}
.s1{
    width: 774px;
    height: 500px;
    margin: auto;
    padding: auto;
    border-bottom: 3px solid black;
    float: left;
}
.s2{
    margin: auto;
    width: 700px;
    height: 400px;
    border: 3px solid black;
    padding: 10px;
    background-color: burlywood;
}
footer{
    width: 100%;
    height: 100px;
    float: left;
}