*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
.all{
    width: 980px;
    height: 600px;
    border: 3px solid black;
    background-color: burlywood;
}
header{
    width: 100%;
    height: 50px;
    border-bottom: 3px solid black;
    float: left;
}
nav{
    width: 100%;
    height: auto;
    border-bottom: 3px solid black;
    float: left;
}
section{
    width: 700px;
    height: 300px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    padding: auto;
    float: left;
}
.s1{
    width: 600px;
    height: 250px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin: auto;
}
article{
    width: 100%;
    height: 50%;
    border-bottom: 3px solid black;
    float: left;
    background-color: pink;
}
aside{
    width: 274px;
    height: 300px;
    border-bottom: 3px solid black;
    float: left;
}
footer{
    width: 100%;
    height: 50px;
    float: left;
}
